.settings

.classpath
.cache
*.project

build

.properties

bin

Reports

Libs

output

Screenshots

ZTemp

!output/.gitkeep

.prj*
appium.log*
/bin/
/Libs/
/settings/*
/.classpath
.svn/
*.png
/.Data Files All
.meta*